.board {
  position:fixed;
  height: 100vh;
  width: 300px;
  right: 0;
  top: 0;
  padding: 1rem;
  background-color: $black-color;
  transition: 0.5s;
  overflow-y:scroll;

  &-collapsed {
    right: -300px;
  }

  .head {
    display: flex;
    justify-content: right;

    background-color: transparent;
    .icon-button{
      background-color: inherit;

      .x-icon {
        color: $white-color;
        width: 2rem;
        height: 2rem;
      }
    }
  }

  .body {
    margin-top: 1rem;
    border-radius: 1rem;
    background-color: $white-color;
    padding: 1rem;
  }
}