.squad-container {
    padding: 1rem;
    position: relative;
    
    .player-board-container {
        width: 100%;
        
        .preview {
            display: block;
            margin: 0 auto;
            border-radius: 100%;
            width: 5rem;
            height: 5rem;
        }
    }

    .num-board-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;

        .display {
            text-align: center;
            width: 5rem;
        }

        .button {
            color: $white-color;
            padding: 1rem 2rem;
            background-color: $gray-color;
            $button-radius: 0.5rem;

            &-left {
                border-top-left-radius: $button-radius;
                border-bottom-left-radius: $button-radius;
            }

            &-right {
                border-top-right-radius: $button-radius;
                border-bottom-right-radius: $button-radius;
            }
        }
    }
}