.squad-container {
    padding: 1rem;
    position: relative;
    min-height: 280px;

    .preview-wrapper {
        .squad-title {
            font-size: 1.2rem;
            font-weight: 700;
        }
        
        .player-board-container {
            margin-top: 2rem;
            width: 100%;
            
            .preview {
                display: block;
                margin: 0 auto;
                border: 4px solid $black-color;
                border-radius: 100%;
                width: 5rem;
                height: 5rem;
            }
        }
    }

    

    .num-board-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;

        .display {
            text-align: center;
            width: 5rem;
        }

        .button {
            width: 100%;
            color: $white-color;
            padding: 1rem 1.5rem;
            background-color: $gray-color;
            $button-radius: 0.5rem;

            &-left {
                border-top-left-radius: $button-radius;
                border-bottom-left-radius: $button-radius;
            }

            &-right {
                border-top-right-radius: $button-radius;
                border-bottom-right-radius: $button-radius;
            }
        }
    }

    .list-trigger {
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        width: 100%;
        height: 15px;
        border-radius: $common-border-radius;
        background-color: $gray-color;

        .list-trigger-icon {
            position: absolute;
            color: $white-color;
        }
    }

    .list {
        width: 100%;

        .list-item {
            margin-top: 0.5px;
            text-align: center;
            overflow: hidden;
            &:first-child {
                border-top-left-radius: $common-border-radius;
            }

            &:last-child {
                border-bottom-left-radius: $common-border-radius
            }
        
            .list-item-num, .list-item-name {
                display: inline-block;
                padding: 0.5rem 0;
            }

            .list-item-num {
                background-color: $gray-color;
                color: $white-color;
                width: 20%;
            }

            .list-item-name {
                background-color: white;
                padding-left: 0.5rem;
                width: 80%;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .squad-container {
        display: flex;
        gap: 2rem;

        .list-trigger {
            display: none;
        }
    }
    
}