.player {
    position: absolute;
    background-color: red;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    border: solid black 4px; 

    &-activated {
        opacity: 0.5;
        width: 76px;
        height: 76px;
        border-width: 5px;
    }

    &:hover {
        opacity: 0.5;
        cursor: pointer;
    }
}