@font-face {
  font-family: 'roboto-mono';
  src: url("../public/fonts/RobotoMono-VariableFont_wght.ttf") format('truetype');
}

:root {
  font-weight: 500;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  list-style: none;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'roboto-mono';
}

body {
  font-size: 1rem;
  overflow-x: hidden;
}